@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@layer utilities {
  .interactive-link {
    @apply text-xl hover:text-orange cursor-pointer hover:border-b-2 hover:border-orange border-transparent py-1 w-[100px] text-center;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Poppins;
}
